@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');



.title_back{
    width: 100%;
    height: 25vh;
    background: url('../../Images/pic/inner_page_banner.jpg') center,no-repeat;
    background-size: cover;
    position: relative;
}
.title_back h2{
content: '';
position: absolute;
top:90px;
left: 10%;
font-size: 50px;
color: rgba(185, 10, 216, 0.808);
font-weight: 800;
font-family:'Roboto'  ;
}
.menu .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.menu_card{
    flex: 0 1 22%;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    text-align: center;
}

.menu_card:hover { 
    width: 300px;
    height: 380px;
    box-shadow:  0px -5px 15px 0 rgba(185, 10, 216, 0.808);
    
    
} 
.menu_card img { 
    
    width: 100%; 
    /* height: 100px;  */
    transition: 1s;
    border: 20px solid rgba(185, 10, 216, 0.808);
}
.menu_card img:hover{
    border:1px solid white
}
.menu{
    margin: 0 auto;
}
.menu_title{
    padding-top:50px;
    font-family:'' ;
    font-size: 22px;
    font-style: '';
}

.search{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    
    
}

.inp{
    text-align: center;
    background: rgb(240, 236, 236);
    border: 1px solid rgb(78, 77, 77);
    
    width: 400px;
    height: 30px;
    border-radius: 5px;
}
.btn {
    margin-left: 10px;
    text-align: center;
    width:50px;
height: 30px;

background-color: rgba(185, 10, 216, 0.808);; 
color: #fff; 
font-family: 'Roboto'; 
font-weight: 500; 
text-shadow: black 1px 1px 1px ; 
border-radius: 5px;
}